# Build directories
build/
cmake-build-*/
out/

# FetchContent dependencies
_deps/

# IDE files
.idea/
.vs/
.vscode/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Executables
*.exe
PathOfDoom